/* Common CSS */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* This equal to 10 px most of the browser */
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h3 {
  color: #606d5f;
}

h3 {
  font-weight: 750;
  font-size: 2.2rem;
  text-transform: capitalize;
}

p,
li,
a,
button {
  color: #888888;
}

p {
  font-size: 1.8rem;
  line-height: 150%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

button {
  padding: 1rem 3rem;
  border: none;
  border-radius: 2rem;
  outline: none;
  line-height: 3.6rem;
  text-transform: capitalize;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
}

/* ------------Header------------ */
header {
  padding: 0 20rem;
  width: 100%;
}

header nav {
  display: flex;
  justify-content: space-between;
  height: 12rem;
  align-items: center;
}

header nav .logo h1 {
  font-size: 3rem;
}

header nav .menu {
  display: flex;
}

header nav .menu a {
  margin-left: 4rem;
}

header nav .menu a li {
  font-size: 2rem;
  line-height: 3.6rem;
  text-transform: capitalize;
  transition: all 0.2sec;
}

header nav .menu a li:hover {
  color: #4b709e;
}

/* ------------Hero section------------ */
.hero-section {
  padding: 0 20rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.hero-section .hero-content {
  width: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-section .hero-content h1 {
  width: 40rem;
  font-size: 5rem;
  line-height: 5rem;
  margin-bottom: 4rem;
  text-transform: capitalize;
}

.hero-section .hero-content p {
  width: 45rem;
  margin-bottom: 3rem;
}

.hero-section .hero-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .hero-img img {
  width: 100%;
}

/* ------------Products section------------ */
.products-section {
  padding: 0 20rem;
  width: 100%;
  height: 100%;
  margin-bottom: 20rem;
}

.products-section h1 {
  font-size: 5rem;
  line-height: 5rem;
  margin-bottom: 4rem;
  text-align: center;
  text-transform: capitalize;
}

.products-section .products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-items: center;
}

.products-section .products .product-card {
  width: 25rem;
  height: 25rem;
  background-color: #efefef;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  margin-bottom: 2rem;
}

.products-section .products .product-card img {
  width: 80%;
  border-radius: 50%;
}

.products-section .products .product-card .buy-btn {
  background-color: #fff;
  border: 0.2rem solid #efefef;
  padding: 1rem 2rem;
  border-radius: 1rem;
  line-height: 1rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}

/* ------------Service section------------ */
.service-section {
  padding: 0 20rem;
  width: 100%;
  height: 100%;
  margin-bottom: 20rem;
}

.service-section h1 {
  font-size: 5rem;
  line-height: 5rem;
  margin-bottom: 8rem;
  text-align: center;
  text-transform: capitalize;
}

.service-section .services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.service-section .services .service-card {
  width: 25rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-bottom: 10rem;
}

.service-section .services .service-card img {
  width: 50%;
}

.service-section .services .service-card h3 {
  margin: 1rem 0.5rem 0 0;
  font-size: 2rem;
}

.service-section .services .service-card p {
  text-align: center;
}

/* ------------Footer section------------ */
footer {
  margin-top: 5rem;
  font-size: 1rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
}

/* ------------Media Query------------ */

/* Responsive For Mobile Devices */
@media only screen and (max-width: 567px) {
  header,
  .hero-section,
  .products-section,
  .service-section {
    padding: 0 5rem;
  }

  .hero-section,
  .products-section,
  .service-section {
    margin-bottom: 12rem;
  }

  header nav .logo h1 {
    font-size: 2rem;
  }

  header nav .menu a {
    margin-left: 1rem;
  }
  header nav .menu a li {
    font-size: 1.5rem;
  }

  .hero-section {
    flex-direction: column;
    height: 80vh;
  }

  .hero-section .hero-content {
    order: 2;
    width: 100%;
  }

  .hero-section .hero-content h1 {
    font-size: 2rem;
    width: 100%;
    line-height: 6rem;
    margin-bottom: 2rem;
  }

  .hero-section .hero-content p {
    width: 100%;
    font-size: 2rem;
    margin-bottom: 5rem;
  }
  .hero-section .hero-img {
    order: 1;
    width: 100%;
  }
  .hero-section .hero-img img {
    width: 100%;
  }

  .products-section h1,
  .service-section h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 6rem;
    margin-bottom: 5rem;
  }

  .products-section .products,
  .service-section .services {
    grid-template-columns: repeat(1, 1fr);
  }

  footer p {
    font-size: 1rem;
  }
}
